/* algolingo fonts */
@import url(https://db.onlinewebfonts.com/c/a3aec17c2d0d7fb0c6626e2f4a8d64b3?family=Curiosa+Variable+Test);
@import url(https://db.onlinewebfonts.com/c/230eed6e25d79907318776c8efa7dfac?family=Curiosa+Test);


/* styles */
/* called by your view template */
 

* {
  box-sizing: border-box;
}

body {
  font-family: "Curiosa Variable Test";
  font-size: 22px;
  /* margin: 1em; */
  background-color: #CBE4B6;
  text-align: center;
  height: 100%; 
  overflow-y: hidden; 
}

h1 {
  font-family: "Curiosa Test";
  color: #42aaff;
  border-radius: 15px;
  background-color: rgb(255, 252, 252);
  border: 2px solid rgb(51, 51, 51);
  box-shadow: 3px 3px rgb(239, 203, 225);
  padding:10px;
  margin: 0;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 25px;
  padding: 25px;
  width: 90%;
  max-width: 1040px;
  border-radius: 15px;
  background-color: rgb(255, 252, 252);
  border: 2px solid rgb(51, 51, 51);
  box-shadow: 3px 3px rgb(239, 203, 225);
}


input {
  /* display: block; */
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 15px;
  font-size: 20px;
}

button {
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(255, 252, 252);
  border: 2px solid rgb(51, 51, 51);
  box-shadow: 3px 3px rgb(239, 203, 225);
  font-family: "Curiosa Variable Test";
  padding: 5px;
}

button:hover {
  background-color: rgb(239, 203, 225);
}

button:active {
  box-shadow: none;
}


ul {
  height: 100%;
  max-height: calc(100vh - 200px);
  width: 90%;
  max-width: 940px;
  overflow-y: hidden; 
  border-radius: 10px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 25px; 
  --webkit-overflow-scrolling: touch;
}

 li {
  position: relative;
  display: flex;
  list-style-type: none;
  max-width: 70%;
  max-height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:20px;
  padding-right: 20px;
  margin: 25px;
  border-radius: 25px;
  clear: both;
  text-align: left;
  word-break: break-word; 
} 

li:nth-child(2n) {
  background-color: #66b3ff; 
  float: right; 
  color: white; 
}

li:not(:nth-child(2n)) {
  background-color: #f1f0f0; 
  float: left; 
}

.list::-webkit-scrollbar {
  display:none;
}