/* Import fonts */
@import url(https://db.onlinewebfonts.com/c/a3aec17c2d0d7fb0c6626e2f4a8d64b3?family=Curiosa+Variable+Test);
@import url(https://db.onlinewebfonts.com/c/230eed6e25d79907318776c8efa7dfac?family=Curiosa+Test);

/* Global styles */
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 1em;
  font-family: "Curiosa Variable Test", sans-serif;
  margin: 0;
  background: linear-gradient(176deg, rgba(203, 228, 182, 1) 0%, rgba(206, 233, 255, 1) 100%);
  text-align: center;
  overflow: hidden;
}

/* Heading styles */
h1 {
  z-index: 1;
  font-family: "Curiosa Test", sans-serif;
  color: #42aaff;
  border-radius: 15px;
  background-color: rgb(255, 252, 252);
  border: 2px solid rgb(51, 51, 51);
  box-shadow: 3px 3px rgb(239, 203, 225);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  max-width: 1040px;
}

/* Form styles */
form {
  z-index:1;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 25px;
  padding: 15px;
  width: 90%;
  max-width: 1040px;
  border-radius: 25px;
  background-color: rgb(255, 252, 252);
  border: 2px solid rgb(51, 51, 51);
  box-shadow: 5px 5px rgb(239, 203, 225);
  display: flex;
  align-items: center;
}

input {
  display: block;
  padding: 10px;
  flex: 1;
  border: 1px solid lightgrey;
  border-radius: 25px;
  font-size: 1em;
}

/* Button styles */
button {
  font-size: 20px;
  color: black;
  background-color: rgb(255, 252, 252);
  border: 2px solid rgb(51, 51, 51);
  box-shadow: 3px 3px rgb(239, 203, 225);
  font-family: "Curiosa Variable Test", sans-serif;
  border-radius: 25px;
  padding: 10px;
  margin-left: 10px;
}

button:hover {
  background-color: rgb(239, 203, 225);
}

/* List styles */
 ul {
  position: absolute;
  top: calc(90px);
  bottom: calc(50px);
  left: 50%;
  transform: translateX(-50%);
  max-height: calc(100vh);
  width: 90%;
  max-width: 940px;
  overflow-y: hidden;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  --webkit-overflow-scrolling: touch;
}

li {
  text-transform: lowercase;
  position: relative;
  display: flex;
  list-style-type: none;
  max-width: 70%;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 25px;
  clear: both;
  text-align: left;
  word-break: break-word;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-size: 1.5em;
}

li:nth-child(2n) {
  background-color: #66b3ff;
  float: right;
  color: white;
  border-bottom-right-radius: 10px;
}

li:not(:nth-child(2n)) {
  background-color: #f1f0f0;
  float: left;
  border-bottom-left-radius: 15px;
}


/* Settings styles */
.settings {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.settings ul {
  overflow: auto; 
  padding: 0; 
  margin: 0;
  bottom: 100px;
  
}

.settings li {
  float: left;
  background-color: #f1f0f0;
  color: black;
  padding: 15px 20px; /* Add padding to list items */
  margin: 10px; /* Add margin to list items */
  border-radius: 25px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.5em;
  align-items: center;
}

.settings button{
    white-space: nowrap;
}

.settings #options {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 25px;
  padding: 15px;
  width: 90%;
  max-width: 1040px;
}

 button #AlgoLingoList {
  color: red;
}